<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <!--integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/bootstrap-4.3.0/css/bootstrap.min.css}">
</head>
<body>

<header th:replace="layout/layout :: header">
</header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title"><a th:href="@{/form}" class="btn btn-primary btn-sm">Crear Cliente</a></h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                    <td><a class="btn btn-warning btn-sm" th:href="@{/form/}+${cliente.id}" th:text="'Editar'"></a></td>
                    <td><a class="btn btn-danger btn-sm" th:href="@{/eliminar/}+${cliente.id}" th:text="'Eliminar'"
                           onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>

<script rel="script" th:href="@{/bootstrap-4.3.0/js/bootstrap.min.js}"></script>

</body>
</html>